<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <link rel="icon" type="image/png" href="../img/fav.png" />
    <title>Ashesi Eats</title>

    <link
      href="../vendor/slick/slick/slick.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../vendor/slick/slick/slick-theme.css"
      rel="stylesheet"
      type="text/css"
    />

    <link href="../vendor/icons/feather.css" rel="stylesheet" type="text/css" />

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="../css/style.css" rel="stylesheet" />

    <link href="../vendor/sidebar/demo.css" rel="stylesheet" />
  </head>
  <body>
    <special-header></special-header>
    <div class="d-none">
      <div class="bg-primary border-bottom p-3 d-flex align-items-center mb-4">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="fw-bold m-0 text-white">Coming Soon</h4>
      </div>
    </div>
    <div
      class="container py-5 osahan-coming-soon d-flex justify-content-center align-items-center"
    >
      <div class="osahan-img text-center">
        <img class="cs-img" src="../img/BI.svg" alt="Description of SVG">

        <div class="osahan-text text-center mt-3">
          <h2 class="text-primary font-weight-light">
            We're coming <span class="fw-bold">soon.</span>
          </h2>
          <p class="lead small mb-5">
            Our website is under construction. We'll be here soon with our new
            awesome site, subscribe to be notified.
          </p>
          <div class="row">
            <div class="col px-1">
              <div class="border p-2 rounded text-center mb-2">
                <h5 class="fw-bold text-primary mb-1">322</h5>
                <p class="mb-0 text-dark">Days</p>
              </div>
            </div>
            <div class="col px-1">
              <div class="border p-2 rounded text-center mb-2">
                <h5 class="fw-bold text-primary mb-1">22</h5>
                <p class="mb-0 text-dark">Hours</p>
              </div>
            </div>
            <div class="col px-1">
              <div class="border p-2 rounded text-center mb-2">
                <h5 class="fw-bold text-primary mb-1">04</h5>
                <p class="mb-0 text-dark">Mins</p>
              </div>
            </div>
            <div class="col px-1">
              <div class="border p-2 rounded text-center mb-2">
                <h5 class="fw-bold text-primary mb-1">43</h5>
                <p class="mb-0 text-dark">Secs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <special-footer></special-footer>
    
    <nav id="main-nav"></nav>
    <div
      class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center d-none"
    >
    </div>

    <script
      type="ade7f73eacc22336856b7245-text/javascript"
      src="../vendor/jquery/jquery.min.js"
    ></script>
    <script
      type="ade7f73eacc22336856b7245-text/javascript"
      src="../vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>

    <script
      type="ade7f73eacc22336856b7245-text/javascript"
      src="../vendor/slick/slick/slick.min.js"
    ></script>

    <script
      type="ade7f73eacc22336856b7245-text/javascript"
      src="../vendor/sidebar/hc-offcanvas-nav.js"
    ></script>

    <script
      type="ade7f73eacc22336856b7245-text/javascript"
      src="../js/osahan.js"
    ></script>
    <script
      src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="ade7f73eacc22336856b7245-|49"
      defer
    ></script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
      integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
      data-cf-beacon='{"rayId":"8a5eb0d9ffb0639d","version":"2024.7.0","r":1,"serverTiming":{"name":{"cfL4":true}},"token":"dd471ab1978346bbb991feaa79e6ce5c","b":1}'
      crossorigin="anonymous"
    ></script>
    <script src="../js/headerFooterManager.js"></script>
  </body>
</html>
