<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>Ashesi Eats</title>

    <link href="../vendor/slick/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="../vendor/slick/slick/slick-theme.css" rel="stylesheet" type="text/css">

    <link href="../vendor/icons/feather.css" rel="stylesheet" type="text/css">

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

    <link href="../vendor/sidebar/demo.css" rel="stylesheet">
</head>

<body class="fixed-bottom-bar">
    <special-header></special-header>
    <div class="d-none">
        <div class="bg-primary p-3 d-flex align-items-center">
            <a class="toggle togglew toggle-2" href="#"><span></span></a>
            <h4 class="fw-bold m-0 text-white">Search</h4>
        </div>
    </div>
    <div class="osahan-popular">

        <div class="container">
            <div class="search py-5">
                <div class="input-group bg-white rounded-pill border mb-4">
                    <input type="text" class="form-control form-control-lg bg-transparent border-0 rounded-0"
                        id="inlineFormInputGroup" placeholder="Search">
                    <button class="btn bg-white text-primary bg-transparent border-0 rounded-0" type="button"><i
                            class="feather-search"></i></button>
                </div>

                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active border-0 bg-light text-dark rounded" id="home-tab"
                            data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i
                                class="feather-home me-2"></i>Restaurants (8)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link border-0 bg-light text-dark rounded ms-3" id="profile-tab"
                            data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false"><i class="feather-disc me-2"></i>Dishes (23)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="container my-4 p-0">

                            <div class="row g-4">
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div
                                        class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <div class="star position-absolute"><span class="badge text-bg-success"><i
                                                        class="feather-star"></i> 3.1 (300+)</span></div>
                                            <div class="favourite-heart text-danger position-absolute rounded-circle"><a
                                                    href="#"><i class="feather-heart"></i></a></div>
                                            <div class="member-plan position-absolute"><span
                                                    class="badge text-bg-dark">Promoted</span></div>
                                            <a href="restaurant.html">
                                                <img alt="#" src="../img/popular1.png" class="img-fluid item-img w-100">
                                            </a>
                                        </div>
                                        <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="restaurant.html" class="text-black">The osahan
                                                        Restaurant
                                                    </a>
                                                </h6>
                                                <p class="text-gray mb-1 small">• North • Hamburgers</p>
                                                <p class="text-gray mb-1 rating">
                                                <ul class="rating-stars list-unstyled">
                                                    <li>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star"></i>
                                                    </li>
                                                </ul>
                                                </p>
                                            </div>
                                            <div class="list-card-badge">
                                                <span class="badge text-bg-danger">OFFER</span> <small>65%
                                                    OSAHAN50</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div
                                        class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <div class="star position-absolute"><span class="badge text-bg-success"><i
                                                        class="feather-star"></i> 3.1 (300+)</span></div>
                                            <div class="favourite-heart text-danger position-absolute rounded-circle"><a
                                                    href="#"><i class="feather-heart"></i></a></div>
                                            <div class="member-plan position-absolute"><span
                                                    class="badge text-bg-dark">Promoted</span></div>
                                            <a href="restaurant.html">
                                                <img alt="#" src="../img/popular2.png" class="img-fluid item-img w-100">
                                            </a>
                                        </div>
                                        <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="restaurant.html" class="text-black">Thai
                                                        Famous Indian Cuisine</a></h6>
                                                <p class="text-gray mb-1 small">• Indian • Pure veg</p>
                                                <p class="text-gray mb-1 rating">
                                                <ul class="rating-stars list-unstyled">
                                                    <li>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star"></i>
                                                    </li>
                                                </ul>
                                                </p>
                                            </div>
                                            <div class="list-card-badge">
                                                <span class="badge text-bg-success">OFFER</span> <small>65% off</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div
                                        class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <div class="star position-absolute"><span class="badge text-bg-success"><i
                                                        class="feather-star"></i> 3.1 (300+)</span></div>
                                            <div class="favourite-heart text-danger position-absolute rounded-circle"><a
                                                    href="#"><i class="feather-heart"></i></a></div>
                                            <div class="member-plan position-absolute"><span
                                                    class="badge text-bg-dark">Promoted</span></div>
                                            <a href="restaurant.html">
                                                <img alt="#" src="../img/popular3.png" class="img-fluid item-img w-100">
                                            </a>
                                        </div>
                                        <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="restaurant.html" class="text-black">The osahan
                                                        Restaurant
                                                    </a>
                                                </h6>
                                                <p class="text-gray mb-1 small">• Hamburgers • Pure veg</p>
                                                <p class="text-gray mb-1 rating">
                                                <ul class="rating-stars list-unstyled">
                                                    <li>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star"></i>
                                                    </li>
                                                </ul>
                                                </p>
                                            </div>
                                            <div class="list-card-badge">
                                                <span class="badge text-bg-danger">OFFER</span> <small>65%
                                                    OSAHAN50</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div
                                        class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <div class="star position-absolute"><span class="badge text-bg-success"><i
                                                        class="feather-star"></i> 3.1 (300+)</span></div>
                                            <div class="favourite-heart text-danger position-absolute rounded-circle"><a
                                                    href="#"><i class="feather-heart"></i></a></div>
                                            <div class="member-plan position-absolute"><span
                                                    class="badge text-bg-dark">Promoted</span></div>
                                            <a href="restaurant.html">
                                                <img alt="#" src="../img/popular4.png" class="img-fluid item-img w-100">
                                            </a>
                                        </div>
                                        <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="restaurant.html" class="text-black">Bite Me
                                                        Now Sandwiches</a></h6>
                                                <p class="text-gray mb-1 small">American • Pure veg</p>
                                                <p class="text-gray mb-1 rating">
                                                <ul class="rating-stars list-unstyled">
                                                    <li>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star star_active"></i>
                                                        <i class="feather-star"></i>
                                                    </li>
                                                </ul>
                                                </p>
                                            </div>
                                            <div class="list-card-badge">
                                                <span class="badge text-bg-success">OFFER</span> <small>65% off</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row d-flex align-items-center justify-content-center py-5">
                            <div class="col-md-4 py-5">
                                <div class="text-center py-5">
                                    <p class="h4 mb-4"><i class="feather-search bg-primary text-white rounded p-2"></i>
                                    </p>
                                    <p class="fw-bold text-dark h5">Nothing found</p>
                                    <p>we could not find anything that would match your search request, please try
                                        again.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center d-none">
            <div class="row">
                <div class="col">
                    <a href="home.html" class="text-dark small fw-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-home"></i></p>
                        Home
                    </a>
                </div>
                <div class="col selected">
                    <a href="trending.html" class="text-danger small fw-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-map-pin text-danger"></i></p>
                        Trending
                    </a>
                </div>
                <div class="col bg-white rounded-circle mt-n4 px-3 py-2">
                    <div class="bg-danger rounded-circle mt-n0 shadow">
                        <a href="checkout.html" class="text-white small fw-bold text-decoration-none">
                            <i class="feather-shopping-cart"></i>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <a href="favorites.html" class="text-dark small fw-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-heart"></i></p>
                        Favorites
                    </a>
                </div>
                <div class="col">
                    <a href="profile.html" class="text-dark small fw-bold text-decoration-none">
                        <p class="h4 m-0"><i class="feather-user"></i></p>
                        Profile
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <special-footer></special-footer>
    
    <nav id="main-nav">
        <ul class="second-nav">
            <li><a href="home.html"><i class="feather-home me-2"></i> Homepage</a></li>
            <li><a href="my_order.html"><i class="feather-list me-2"></i> My Orders</a></li>
            <li>
                <a href="#"><i class="feather-edit-2 me-2"></i> Authentication</a>
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Register</a></li>
                    <li><a href="forgot_password.html">Forgot Password</a></li>
                    <li><a href="verification.html">Verification</a></li>
                    <li><a href="location.html">Location</a></li>
                </ul>
            </li>
            <li><a href="favorites.html"><i class="feather-heart me-2"></i> Favorites</a></li>
            <li><a href="trending.html"><i class="feather-trending-up me-2"></i> Trending</a></li>
            <li><a href="most_popular.html"><i class="feather-award me-2"></i> Most Popular</a></li>
            <li><a href="restaurant.html"><i class="feather-paperclip me-2"></i> Restaurant Detail</a></li>
            <li><a href="checkout.html"><i class="feather-list me-2"></i> Checkout</a></li>
            <li><a href="successful.html"><i class="feather-check-circle me-2"></i> Successful</a></li>
            <li><a href="map.html"><i class="feather-map-pin me-2"></i> Live Map</a></li>
            <li>
                <a href="#"><i class="feather-user me-2"></i> Profile</a>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="favorites.html">Delivery support</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="terms.html">Terms of use</a></li>
                    <li><a href="privacy.html">Privacy & Policy</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="feather-alert-triangle me-2"></i> Error</a>
                <ul>
                    <li><a href="not-found.html">Not Found</a>
                    <li><a href="maintence.html"> Maintence</a>
                    <li><a href="coming-soon.html">Coming Soon</a>
                </ul>
            </li>
            <li>
                <a href="#"><i class="feather-link me-2"></i> Navigation Link Example</a>
                <ul>
                    <li>
                        <a href="#">Link Example 1</a>
                        <ul>
                            <li>
                                <a href="#">Link Example 1.1</a>
                                <ul>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Link Example 1.2</a>
                                <ul>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Link Example 2</a></li>
                    <li><a href="#">Link Example 3</a></li>
                    <li><a href="#">Link Example 4</a></li>
                    <li data-nav-custom-content>
                        <div class="custom-message">
                            You can add any custom content to your navigation items. This text is just an example.
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="bottom-nav">
            <li class="email">
                <a class="text-danger" href="home.html">
                    <p class="h5 m-0"><i class="feather-home text-danger"></i></p>
                    Home
                </a>
            </li>
            <li class="github">
                <a href="faq.html">
                    <p class="h5 m-0"><i class="feather-message-circle"></i></p>
                    FAQ
                </a>
            </li>
            <li class="ko-fi">
                <a href="contact-us.html">
                    <p class="h5 m-0"><i class="feather-phone"></i></p>
                    Help
                </a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filters</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>

                        <h6>SORT BY</h6>
                        <div class="form-check border-bottom px-0  custom-radio">
                            <input type="radio" id="customRadio1f" name="location" class="form-check-input" checked>
                            <label class="form-check-label py-2 w-100 px-3" for="customRadio1f">Top Rated</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-radio">
                            <input type="radio" id="customRadio2f" name="location" class="form-check-input">
                            <label class="form-check-label py-2 w-100 px-3" for="customRadio2f">Nearest Me</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-radio">
                            <input type="radio" id="customRadio3f" name="location" class="form-check-input">
                            <label class="form-check-label py-2 w-100 px-3" for="customRadio3f">Cost High to Low</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-radio">
                            <input type="radio" id="customRadio4f" name="location" class="form-check-input">
                            <label class="form-check-label py-2 w-100 px-3" for="customRadio4f">Cost Low to High</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-radio">
                            <input type="radio" id="customRadio5f" name="location" class="form-check-input">
                            <label class="form-check-label py-2 w-100 px-3" for="customRadio5f">Most Popular</label>
                        </div>

                        <h6 class="mt-4">FILTER</h6>
                        <div class="form-check border-bottom px-0  custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="defaultCheck1" checked>
                            <label class="form-check-label py-2 w-100 px-3" for="defaultCheck1">Open Now</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="defaultCheck2">
                            <label class="form-check-label py-2 w-100 px-3" for="defaultCheck2">Credit Cards</label>
                        </div>
                        <div class="form-check border-bottom px-0  custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="defaultCheck3">
                            <label class="form-check-label py-2 w-100 px-3" for="defaultCheck3">Alcohol Served</label>
                        </div>

                        <h6 class="mt-4">ADDITIONAL FILTERS</h6>
                        <div class="px-3">
                            <input type="range" class="custom-range" min="0" max="100" name="minmax">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-end col-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer p-0 border-0">
                    <div class="col-6 m-0 p-0">
                        <button type="button" class="btn border-top btn-lg w-100" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <button type="button" class="btn btn-primary btn-lg w-100">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="162b4d2621d6b958e1dbd49e-text/javascript" src="../vendor/jquery/jquery.min.js"></script>
    <script type="162b4d2621d6b958e1dbd49e-text/javascript" src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="162b4d2621d6b958e1dbd49e-text/javascript" src="../vendor/slick/slick/slick.min.js"></script>

    <script type="162b4d2621d6b958e1dbd49e-text/javascript" src="../vendor/sidebar/hc-offcanvas-nav.js"></script>

    <script type="162b4d2621d6b958e1dbd49e-text/javascript" src="../js/osahan.js"></script>
    <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="162b4d2621d6b958e1dbd49e-|49" defer></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"rayId":"8a5eb0b26d1c88c1","version":"2024.7.0","r":1,"serverTiming":{"name":{"cfL4":true}},"token":"dd471ab1978346bbb991feaa79e6ce5c","b":1}'
        crossorigin="anonymous"></script>
    <script src="../js/headerFooterManager.js"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/swiggiweb-v1-1/search.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jul 2024 00:04:09 GMT -->

</html>